qt-gui==0.4.5
python-qt-binding==0.4.6
tf-conversions==1.13.4
rqt-nav-view==0.5.8
topic-tools==1.17.4
rosmaster==1.17.4
angles==1.9.14
sensor-msgs==1.13.2
controller-manager-msgs==0.20.0
rqt-logger-level==0.4.13
tf2-py==0.7.10
rqt-console==0.4.14
roswtf==1.17.4
rqt-gui==0.5.5
camera-calibration==1.17.0
rqt-msg==0.4.12
rqt-srv==0.4.11
dynamic-reconfigure==1.7.6
genmsg==0.6.1
gennodejs==2.0.2
rqt-service-caller==0.4.12
rosmsg==1.17.4
rqt-reconfigure==0.5.7
interactive-markers==1.12.2
tf2-kdl==0.7.10
rqt-moveit==0.5.13
smach==2.5.3
rosclean==1.15.10
roscreate==1.15.10
smclib==1.8.7
genlisp==0.4.18
rviz==1.14.26
resource-retriever==1.12.10
catkin==0.8.12
rosparam==1.17.4
rqt-image-view==0.4.19
rqt-robot-monitor==0.5.15
tf2-geometry-msgs==0.7.10
rqt-action==0.4.11
rqt-plot==0.4.16
qt-dotgraph==0.4.5
gazebo_ros==2.9.3
controller-manager==0.20.0
rqt-runtime-monitor==0.5.10
rqt-dep==0.4.14
rqt-web==0.4.11
rqt-robot-dashboard==0.5.8
rqt-bag==0.5.3
bondpy==1.8.7
tf==1.13.4
genpy==0.6.18
joint-state-publisher-gui==1.15.2
gencpp==0.7.2
roslint==0.12.0
xacro==1.14.20
diagnostic-common-diagnostics==1.12.1
rqt-bag-plugins==0.5.3
tf2-ros==0.7.10
rqt-gui-py==0.5.5
rqt-topic==0.4.15
rospy==1.17.4
rosunit==1.15.10
rosnode==1.17.4
rqt-robot-steering==0.5.14
rqt-pose-view==0.5.13
rqt-graph==0.4.16
rostopic==1.17.4
rqt-top==0.4.11
message-filters==1.17.4
image-geometry==1.16.2
rqt-tf-tree==0.6.5
rqt-py-console==0.4.12
rosboost-cfg==1.15.10
camera-calibration-parsers==1.12.1
roslaunch==1.17.4
rqt-launch==0.4.10
diagnostic-analysis==1.12.1
cv-bridge==1.16.2
smach-ros==2.5.3
rqt-py-common==0.5.5
rosgraph==1.17.4
rqt-publisher==0.4.12
rosbag==1.17.4
joint-state-publisher==1.15.2
rqt-rviz==0.7.2
qt-gui-cpp==0.4.5
rqt-shell==0.4.13
laser-geometry==1.6.8
qt-gui-py-common==0.4.5
roslz4==1.17.4
rosmake==1.15.10
roslib==1.15.10
geneus==3.0.0
gazebo_plugins==2.9.3
rostest==1.17.4
rosservice==1.17.4
diagnostic-updater==1.12.1
actionlib==1.14.3
pyzmq==25.1.2
widgetsnbextension==4.0.10
torchvision==0.20.0
httpx==0.27.0
pure-eval==0.2.2
pexpect==4.9.0
stack-data==0.2.0
numpy==1.24.3
matplotlib-inline==0.1.6
absl-py==2.1.0
zipp==3.21.0
notebook==7.2.2
Flask==3.0.3
rfc3986-validator==0.1.1
mkl-service==2.4.0
cycler==0.12.1
catkin-pkg==1.1.0
sniffio==1.3.0
mkl-fft==1.3.8
matplotlib==3.7.3
open3d==0.15.1
jupyterlab_widgets==3.0.16
cffi==1.17.1
comm==0.2.1
notebook_shim==0.2.3
open3d==0.19.0
mistune==2.0.4
defusedxml==0.7.1
comm==0.2.3
jupyter-lsp==2.2.0
PyYAML==6.0.2
Brotli==1.0.9
charset-normalizer==3.3.2
ply==3.11
triton==3.0.0
Send2Trash==1.8.2
soupsieve==2.5
jupyterlab_server==2.27.3
bleach==4.1.0
retrying==1.4.2
GitPython==3.1.46
pip==24.2
ipywidgets==8.1.8
jupyterlab-widgets==3.0.10
wheel==0.44.0
urllib3==2.2.3
filelock==3.13.1
jupyterlab==4.2.5
asttokens==3.0.1
blinker==1.8.2
PyQt5==5.15.10
eval_type_backport==0.3.1
pytz==2025.2
beautifulsoup4==4.12.3
rosnumpy==0.0.6.2
httpcore==1.0.2
pycparser==2.21
numexpr==2.8.4
jsonschema-specifications==2023.7.1
executing==0.8.3
webencodings==0.5.1
sympy==1.13.3
rpds-py==0.20.1
plotly==6.5.0
argon2-cffi==21.3.0
rospkg==1.6.0
protobuf==4.25.3
jupyter_server==2.14.1
ipython==8.12.3
absl-py==2.3.1
scipy==1.10.1
Markdown==3.6
scikit-learn==1.3.2
pydantic==2.10.6
Werkzeug==3.0.6
fastjsonschema==2.21.2
wandb==0.24.2
pandas==2.0.3
async-lru==2.0.4
ptyprocess==0.7.0
ipython==8.12.2
Jinja2==3.1.4
rpds-py==0.10.6
argon2-cffi-bindings==21.2.0
torchaudio==2.4.1
attrs==25.3.0
pytz==2024.1
tensorboard==2.17.1
tensorboard-data-server==0.7.0
mpmath==1.3.0
nbconvert==7.16.4
gitdb==4.0.12
toml==0.10.2
exceptiongroup==1.2.0
smmap==5.0.2
executing==2.2.1
opencv-python==4.10.0
pillow==10.4.0
psutil==7.1.3
importlib_resources==6.4.5
fastjsonschema==2.16.2
unicodedata2==15.1.0
requests==2.32.3
packaging==25.0
nbformat==5.10.4
nbclient==0.8.0
pyparsing==3.1.4
dash==3.3.0
pooch==1.8.2
psutil==5.9.0
qtconsole==5.6.0
docutils==0.20.1
narwhals==1.42.1
widgetsnbextension==4.0.15
Babel==2.11.0
decorator==5.1.1
pandocfilters==1.5.0
jupyter_client==8.6.0
jedi==0.19.1
jsonschema-specifications==2023.12.1
Bottleneck==1.3.7
opencv-python-headless==4.10.0
python-dateutil==2.9.0
wcwidth==0.2.14
nest-asyncio==1.6.0
contourpy==1.1.1
json5==0.9.6
setuptools==75.1.0
gmpy2==2.1.2
platformdirs==4.3.6
referencing==0.30.2
QtPy==2.4.1
fonttools==4.53.1
addict==2.4.0
jedi==0.19.2
idna==3.7
sip==6.7.12
jupyter_core==5.7.2
tornado==6.4.1
attrs==24.2.0
asttokens==2.0.5
distro==1.9.0
gnupg==2.3.1
pydantic_core==2.27.2
mkl-random==1.2.4
plyfile==1.1
wcwidth==0.2.5
pyquaternion==0.9.9
prompt-toolkit==3.0.43
contextlib2==21.6.0
python-json-logger==2.0.7
jupyter_core==5.8.1
six==1.16.0
tzdata==2025.2
jupyter-console==6.6.3
jupyter==1.0.0
overrides==7.4.0
kiwisolver==1.4.5
threadpoolctl==3.5.0
PyQt5-sip==12.13.0
certifi==2024.8.30
backcall==0.2.0
itsdangerous==2.2.0
parso==0.8.5
ConfigArgParse==1.7.1
importlib-metadata==7.0.1
terminado==0.17.1
networkx==3.1
referencing==0.35.1
py3rosmsgs==1.18.2
sentry-sdk==2.54.0
Pygments==2.15.1
tomli==2.0.2
tqdm==4.67.1
MarkupSafe==2.1.3
parso==0.8.3
importlib_metadata==8.5.0
decorator==5.2.1
torch==2.4.1
jupyter_server_terminals==0.4.4
ipykernel==6.29.5
jsonschema==4.23.0
rfc3339-validator==0.1.4
grpcio==1.62.2
jupyter-events==0.10.0
matplotlib-inline==0.1.7
debugpy==1.6.7
prompt_toolkit==3.0.52
ipywidgets==8.1.2
traitlets==5.14.3
prometheus-client==0.14.1
click==8.1.8
pkgutil_resolve_name==1.3.10
colorama==0.4.6
pure_eval==0.2.3
h11==0.14.0
stack-data==0.6.3
munkres==1.1.4
Pygments==2.19.2
joblib==1.4.2
websocket-client==1.8.0
anyio==4.2.0
ml_collections==0.1.1
typing_extensions==4.13.2
annotated-types==0.7.0
pickleshare==0.7.5
tinycss2==1.2.1
PySocks==1.7.1
pexpect==4.8.0
jupyterlab-pygments==0.1.2
9DTact==1.0
